--extra-index-url https://download.pytorch.org/whl/xpu

colorama==0.4.6 ; python_version >= "3.12" and python_version < "3.15" and sys_platform == "win32"
dpcpp-cpp-rt==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
filelock==3.20.0 ; python_version >= "3.12" and python_version < "3.15"
fsspec==2025.12.0 ; python_version >= "3.12" and python_version < "3.15"
impi-rt==2021.16.1 ; python_version >= "3.12" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
iniconfig==2.3.0 ; python_version >= "3.12" and python_version < "3.15"
intel-cmplr-lib-rt==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
intel-cmplr-lib-ur==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
intel-cmplr-lic-rt==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
intel-opencl-rt==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
intel-openmp==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
intel-pti==0.13.1 ; python_version >= "3.12" and python_version < "3.15"
intel-sycl-rt==2025.2.1 ; python_version >= "3.12" and python_version < "3.15"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "3.15"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "3.15"
mkl==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "3.15"
networkx==3.6 ; python_version >= "3.12" and python_version < "3.15"
numpy==2.3.5 ; python_version >= "3.12" and python_version < "3.15"
oneccl-devel==2021.16.1 ; python_version >= "3.12" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
oneccl==2021.16.1 ; python_version >= "3.12" and python_version < "3.15" and platform_system == "Linux" and platform_machine == "x86_64"
onemkl-sycl-blas==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
onemkl-sycl-dft==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
onemkl-sycl-lapack==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
onemkl-sycl-rng==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
onemkl-sycl-sparse==2025.2.0 ; python_version >= "3.12" and python_version < "3.15"
packaging==25.0 ; python_version >= "3.12" and python_version < "3.15"
pillow==12.0.0 ; python_version >= "3.12" and python_version < "3.15"
pluggy==1.6.0 ; python_version >= "3.12" and python_version < "3.15"
pytest==7.4.0 ; python_version >= "3.12" and python_version < "3.15"
pytorch-triton-xpu==3.5.0 ; python_version >= "3.12" and python_version < "3.15"
ruff==0.14.8 ; python_version >= "3.12" and python_version < "3.15"
setuptools==80.9.0 ; python_version >= "3.12" and python_version < "3.15"
sympy==1.14.0 ; python_version >= "3.12" and python_version < "3.15"
tbb==2022.2.0 ; python_version >= "3.12" and python_version < "3.15"
tcmlib==1.4.0 ; python_version >= "3.12" and python_version < "3.15"
torch==2.9.1+xpu ; python_version >= "3.12" and python_version < "3.15"
torchaudio==2.9.1+xpu ; python_version >= "3.12" and python_version < "3.15"
torchcodec==0.9.0 ; python_version >= "3.12" and python_version < "3.15"
torchvision==0.24.1+xpu ; python_version >= "3.12" and python_version < "3.15"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.15"
umf==0.11.0 ; python_version >= "3.12" and python_version < "3.15"
